.cadastro-evento-section, .lista-eventos-section{
    padding: 50px 0;
 }

.cadastro-evento__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid red; */
}

.fevento {
    width: 374px;
    height: 255px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid blue; */
}

@media screen and (min-width: 1200px) {
    .cadastro-evento__box {
        justify-content: space-between;
        height: 540px;
    }
    
    .fevento {margin-top: 0;}

    .btn-cadastrar {
        margin-top: 20px;
    }
}