@{
    ViewData["Title"] = "AtividadesTurma";
}

@* cabacelho *@
<div>
    <h3>@ViewBag.NomeProfessor</h3>
    <form asp-controller="Login" asp-action="Logout">
        <button type="submit">Sair</button>
    </form>
</div>

@* cadastrar atividades *@

@* título *@
<h2>Turma: @ViewBag.NomeTurma</h2>

@* tabela de atividades da turma *@
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Nome Atividade</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var atividade in Model)
        {
            <tr>
                <td>@atividade.AtividadeId</td>
                <td>@atividade.Descricao</td>
            </tr>
        }
    </tbody>
</table>