/* Importação de Fontes */
@font-face {
    font-family: 'Roboto Regular';
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
}

/* Reset Universal */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

label{
    display: none;
}

body{
    font-family: 'Roboto Regular';
}