<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sistema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sistema.styles.css" asp-append-version="true" />
</head>
<body>
    @if (ViewData["Title"] != "Login")
    {
        <header class="w-100 m-0 py-4 px-5 bg-primary">
            <div class="d-flex justify-content-between">
            <h3 class="text-light">@ViewBag.NomeProfessor</h3>
            <form asp-controller="Login" asp-action="Logout">
                <button class="btn btn-light" type="submit">Sair</button>
            </form>
            </div>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
