@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>Meu ptimeiro projeto usando <a target="_blanck" href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-7.0&authuser=0">Razor</a> em c#</p>
</div>
